:root {
    background-image: url('/IMAGES/spiderman\ background.png');
    background-repeat: no-repeat;
    background-size: cover;

}


#gameboard-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1px;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
}

.gameboard {
    background-color: white;
    margin: 2px;
    height: 144px;
    

}

#site-title {
    font-family: montserrat;
    font-weight: bolder;
    color: white;
    display: flex;
    justify-content: center;
}

#announce-winner {
    color: white;
    font-size: 25px;
}